<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="github-workflows-kt-jit-binding-server" status="INFO" monitorInterval="5" strict="true">
    <Appenders>
        <Console name="Console Appender">
            <PatternLayout>
                <Pattern><![CDATA[%highlight{%d <%-5p> <%-35.35t> <%x> <%X> <%50.50c> %m}{TRACE = magenta}%n]]></Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="Console Appender"/>
        </Root>
    </Loggers>
</Configuration>
