.gradle

.idea
!.idea/externalDependencies.xml # Required IntelliJ plugins.
!.idea/icon.svg
.DS_Store

build

# Created in unit tests - easier and more readable to ignore it rather than adjust the test.
/.github/workflows/.yaml
